.client_section {
  margin-top: 0px;
}

.client_section .round_pinkimagdiv2 {
  width: 181px;
  height: 118px;
  position: absolute;
  right: 0;
  top: -55px;
  left: 26%;
}

h3.client_texthead {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  text-align: center !important;
  color: $black-text-color !important;
  padding-bottom: 15px;
  margin: 0;
}

.client_text {
  width: 68%;
  margin: 0px auto;
  padding-bottom: 0px !important;
}
.moblie_client {
  display: none;
}

.view_allbtn {
  background: $red-color;
  border-radius: 100px;
  color: $white-color;
  border: 0;
  height: 46px;
  width: 240px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 19px;
  text-transform: capitalize;
  text-shadow: none;
  transition: 0.5s ease-out;
  font-family: "Formular-medium";
}

.view_allbtn:hover {
  background: $black-text-color !important;
  color: $white-color;
}

.client_img1 {
  background-image: url("/assets/images/img/Client2.png");
  width: 100%;
  margin-bottom: 30px;
  height: 662px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
}

.client_img2 {
  background-image: url("/assets/images/img/Client1.jpg");
  width: 100%;
  margin-bottom: 30px;
  height: 641px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
}

.client_img3 {
  background-image: url("/assets/images/img/Client3.jpg");
  width: 100%;
  margin-bottom: 25px;
  height: 660px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
}

.client_img4 {
  background-image: url("/assets/images/img/Client4.png");
  width: 100%;
  margin-bottom: 25px;
  height: 596px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-radius: 20px;
}

.major_textnew {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: $grey-color !important;
  font-family: Formular;
}

@media only screen and (max-width: 767px) {
  h3.client_texthead {
    font-size: 32px;
    line-height: 32px;
  }

  .client_img {
    margin-bottom: 38px;
  }
  .client_img1,
  .client_img2,
  .client_img4 {
    background-image: none;
    height: auto;
    margin-bottom: 38px;
  }
  .client_img3 {
    background-image: none;
    height: auto;
  }
  .view_allbtn {
    margin: 30px 0 0px 0;
    height: 45px;
    width: 100%;
  }
  .client_text {
    width: 90%;
  }
  .moblie_client {
    display: block;
    margin: 0 auto;
  }
  .client_section {
    margin-top: 40px;
  }

  .client_imgdiv img {
    height: auto;
    max-width: 100%;
  }
  .round_pinkimagdiv2 img {
    height: 100px;
    width: auto;
  }

  .client_section .round_pinkimagdiv2 {
    top: -39px;
    left: 7%;
  }
  .client_section h3 {
    padding-bottom: 20px;
  }

  .client_img1,
  .client_img2,
  .client_img3,
  .client_img4 {
    background-image: none;
    height: auto;
    margin-bottom: 20px;
  }
  .view_allbtn {
    margin-top: 0px;
  }
}

@media (min-width: 1022px) and (max-width: 1024px) {
  .client_section .round_pinkimagdiv2 {
    left: 15%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .client_img1 {
    height: 479px;
  }
  .client_img2 {
    height: 464px;
  }
  .client_img3 {
    height: 477px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  h3.client_texthead {
    font-size: 42px !important;
    line-height: 30px !important;
  }

  .view_allbtn {
    margin: 0px 0 7% 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .client_imgdiv img {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .client_img1,
  .client_img2,
  .client_img3 {
    height: 490px;
    margin-bottom: 25px;
  }
  .client_section .round_pinkimagdiv2 {
    left: 50px;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .client_img1,
  .client_img2,
  .client_img3,
  .client_img4 {
    height:347px;
    margin-bottom: 20px;
  }
  .view_allbtn {
    margin:0;
  }
}
