// .arrow {
//   position: absolute;
//   top: 40%;
//   cursor: pointer;
//   // border-radius: 50%;
//   // border: 1px solid $red-color !important;
//   height: 40px;
//   width: 41px;
//   line-height: 28px;
//   text-align: center;
//   background: url(../../../public/assets/images/chevron-left.svg) no-repeat;
// }

.left {
  left: -30px;
}

.right {
  right: -30px;
}

.award_item img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.award_slider img {
  height: 262px;
  width: 100%;
}
.award_area_outer .round_pinkimagdiv3 {
  width: 181px;
  height: 118px;
  position: absolute;
  right: 0;
  top: 12px;
  right: 28%;
}
.award_area_outer .round_pinkimagdiv3 {
  top: 0px;
  left: 57%;
  width: auto;
  height: auto;
}

.award_area_outer {
  padding-top: 60px;
}
.award_text p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: $grey-color !important;
  font-family: Formular;
  margin: 0px;
}

.award_text {
  margin-bottom: 30px;
}

h3.client_texthead {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  text-align: center !important;
  color: $black-text-color !important;
  padding-bottom: 15px;
  margin: 0px;
}

.award_area {
  background: $secondary-bg-color;
  padding: 25px 0px 15px 0px;
}
.award_area button.owl-dot {
  box-shadow: none;
}
.award_area .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $red-color;
}

@media screen and (max-width: 767px) {
  .award_area .owl-nav button.owl-prev {
    left: 33%;
    top: 87% !important;
  }
  .round_pinkimagdiv3 img {
    height: 100px;
    width: auto;
  }
.award_text{
  p{
    padding: 0px 20px;
    font-size: 18px;
 
  }
   
  }
  .award_area_outer .round_pinkimagdiv3 {
    top: 0px;
    left: 70%;
    width: auto;
    height: auto;
  }
  .award_slider img {
    height: 162px;
    width: 162px;
    margin-bottom: 15px;
  }

  .right {
    right: 60px;
    top: 87%;
    z-index: 1020;
  }

  .left {
    left: 60px;
    top: 87%;
    z-index: 1020;
  }

  .award_area_outer {
    padding-top: 40px;
   
   
  }

  .award_text h3 {
    font-size: 28px !important;
    padding-bottom: 10px;
    line-height: normal;
  }
  .award_area .owl-nav button.owl-next {
    right: 18%;
    top: 83% !important;
  }

  .award_area .owl-nav button.owl-prev {
    left: 18% !important;
    top: 83% !important;
  }

  .award_area .owl-carousel .owl-item img {
    min-width: 120px;
    min-height: 120px;
  }

  .award_area .owl-theme .owl-nav {
    margin-top: 20px;
  }

  .award_area {
    padding: 0px 0px 20px 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .award_area_outer .round_pinkimagdiv3 {
    top: 0px;
    right: 17%;
  }

  .award_text {
    margin-bottom: 45px;
  }

  .award_area_outer .round_pinkimagdiv3 img {
    width: 144px;
    height: auto;
  }
  .award_area_outer {
    padding-top: 55px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .award_area_outer .round_pinkimagdiv3 {
    width:150px !important;
    height: 150px !important;
    top: 0px;
    right: 14% !important;

    img{
      width: 100%;
      height: auto;
    }
  }
  .award_area_outer {
    padding-top: 40px;
  }
  .award_text h3 {
    font-size: 30px !important;
    line-height: 25px !important;
  }
  .award_text p{
  padding: 0px 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .award_text h3 {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .award_area .owl-nav button.owl-next {
    right: 33%;
    top: 87% !important;
  }

  .award_area .owl-nav button.owl-prev {
    left: 33%;
    top: 87% !important;
  }

  .award_area .owl-carousel .owl-item img {
    max-width: 220px;
    max-height: 220px;
    margin: 0px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h3.client_texthead {
    font-size: 42px;
    line-height: 38px;
  }
}
