// $red-color: #ff0000;
// $link-color: #fb1717;
$red-color: #cc0000;
$link-color: #cc0000;
$white-color: #ffffff;
$black-text-color: #000;
$grey-color: #4f4f4f;
$light-grey-color: #828282;
$dark-text-color: #333;
$secondary-bg-color: #f2f2f2;
$blog-grey-color: #757575;
$blue-bg-color: #0f172a;
