.clients-img1 {
  background-image: url("/assets/images/img/techno-img/Python.svg");
}

.technology_worksection {
  padding: 60px 0;
}
.technology_worksection .round_pinkimagdiv {
  width: 181px;
  height: 118px;
  position: absolute;
  text-align: right;
  right: 30%;
  top:-8px;
}

.icon_img ul {
  list-style: none;
  text-align: center;
}

.icon_img ul li {
  display: table-cell;
  padding: 0 43px;
  margin-top: 20px;
}

.technology_workhead {
  font-family: Rajdhani;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  color: $black-text-color;
}

p.major_text {
  font-size: 19px;
  font-weight: 400;
  margin: 0;
  color: $grey-color;
  font-family: Formular;
}
.major_textnew {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: $grey-color !important;
  font-family: Formular;
}

.align11 {
  text-align: center;
  margin-top: 50px;
}
.align11 .box_bg:hover {
  background: #e4c603;
  background-image: url("/assets/images/img/techno-img/hover/1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg1:hover {
  background: #c91f25;
  background-image: url("/assets/images/img/techno-img/hover/2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg2:hover {
  background: #166629;
  background-image: url("/assets/images/img/techno-img/hover/3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg3:hover {
  background: #dc1f26;
  background-image: url("/assets/images/img/techno-img/hover/4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg4:hover {
  background: #056b85;
  background-image: url("/assets/images/img/techno-img/hover/5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg5:hover {
  background: #073e9e;
  background-image: url("/assets/images/img/techno-img/hover/6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg6:hover {
  background: #257202;
  background-image: url("/assets/images/img/techno-img/hover/7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg7:hover {
  background: #040708;
  background-image: url("/assets/images/img/techno-img/hover/8.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg8:hover {
  background: #0056b3;
  background-image: url("/assets/images/img/techno-img/hover/9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg9:hover {
  background: #af3386;
  background-image: url("/assets/images/img/techno-img/hover/10.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg10:hover {
  background: #e56a39;
  background-image: url("/assets/images/img/techno-img/hover/11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.align11 .box_bg11:hover {
  background: #5b19aa;
  background-image: url("/assets/images/img/techno-img/hover/12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
.clients_img {
  margin-bottom: 25px;
}

.clients_img1 {
  background-image: url("/assets/images/img/techno-img/Python.svg");
}

.clients_img2 {
  background-image: url("/assets/images/img/techno-img/Rails.svg");
}

.clients_img3 {
  background-image: url("/assets/images/img/techno-img/Node.svg");
}

.clients_img4 {
  background-image: url("/assets/images/img/techno-img/Angular.svg");
}

.clients_img5 {
  background-image: url("/assets/images/img/techno-img/5.png");
}

.clients_img6 {
  background-image: url("/assets/images/img/techno-img/PHP.svg");
}

.clients_img7 {
  background-image: url("/assets/images/img/techno-img/andrioid.svg");
}

.clients_img8 {
  background-image: url("/assets/images/img/techno-img/ios.svg");
}

.clients_img9 {
  background-image: url("/assets/images/img/techno-img/blockchain.svg");
}

.clients_img10 {
  background-image: url("/assets/images/img/techno-img/artificial.svg");
}

.clients_img11 {
  background-image: url("/assets/images/img/techno-img/dotnet.svg");
}

.clients_img12 {
  background-image: url("/assets/images/img/techno-img/react_native.svg");
}
.clients_img {
  /* border: 1px solid #ccc; */
  -webkit-box-shadow: 7px 7px 6px -6px #b6b6b6;
  -moz-box-shadow: 7px 7px 6px -6px #b6b6b6;
  box-shadow: 7px 7px 6px -6px #b6b6b6;
  text-align: center;
  padding: 40px 0;
  height: 160px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.clients_img a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.clients_imgsimilar {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

@media (max-width: 767px) {
  .technology_worksection .round_pinkimagdiv {
    right: 0;
    top: -37px;
  }

  .icon_img{
    margin-bottom: 20px;
    
  }

  .clients_img{
    box-shadow: 0px 0px 15px -4px #d3d3d3;
  }
  .align11 {
    text-align: center;
    margin-top: 0px;
  }
  .clients_imgsimilar {
    padding: 14px 0;
    height: 100px;
  }

  .clients_img{
    margin-bottom: 15px;
  }
  .home_padd{
    margin-bottom: 0px;
  }

  .clients_imgsimilar:hover {
    background-size: 57% !important;
  }
  p.major_text {
    font-size: 15px;
  }
  .home_padd {
    padding-top: 0;
    font-size: 32px !important;
    line-height: 45px !important;
  }

  .round_pinkimagdiv1 img {
    height: 80px;
    width: auto;
    margin-top: 55px;
  }
  .round_pinkimagdiv img {
    height: 100px;
    width: auto;
  }

  .technology_worksection {
    padding: 0 0;
  }
}

@media (min-width: 768px) and (max-width: 1022px) {
  .technology_worksection .round_pinkimagdiv {
    right: 95px;
    top: -8px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
.technology_workhead{
font-size: 42px;
padding-bottom: 0px !important;
}
}

@media (min-width: 1022px) and (max-width: 1024px) {
  .technology_worksection .round_pinkimagdiv {
    right: 10%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  p.major_text {
    font-size: 16px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .row.align11 {
    margin-top: 0;
  }

  .align11 .col-4 {
    margin-bottom: 20px;
  }
}
